<div class="container">
<!--  <div class="row">-->
<!--    <div class="col-md-3">-->
<!--      <b>Wat is een connectie?</b>-->
<!--      <p>Deze functie kan gebruikt worden om verbanden tussen objecten en kenmerken aan te brengen.</p>-->
<!--    </div>-->
<!--    <div class="col-md-3">-->
<!--      <b>Wat is een connectie?</b>-->
<!--      <p>Deze functie kan gebruikt worden om verbanden tussen objecten en kenmerken aan te brengen.</p>-->
<!--    </div>-->
<!--    <div class="col-md-3">-->
<!--      <b>Wat is een connectie?</b>-->
<!--      <p>Deze functie kan gebruikt worden om verbanden tussen objecten en kenmerken aan te brengen.</p>-->
<!--    </div>-->
<!--  </div>-->
  <div class="row mt-3">
    <div class="col-md-3">
      <img src="{{imageUrl}}" alt="Sample Image" class="img-responsive sample-image"/>
      <div id="description" class="alert alert-secondary" role="alert">
        <i>Beschrijving aan het laden...</i>
      </div>
      <span>Tags:</span>
      <a href="javascript:void(0);">#term1</a>,
      <a href="javascript:void(0);">#term2</a>,
      <a href="javascript:void(0);">#term3</a>,
      <a href="javascript:void(0);">#term4</a>
    </div>
    <div class="col-md-9">
      <h2>Leg een connectie aan</h2>
      <p>
        Leg hieronder een connectie aan, om dit object te koppelen aan een nieuw kenmerk.
      </p>
      <div class="row">
        <div class="col-md-5">
          <form>
            <div class="form-group">
              <select class="form-control" id="predicate-select">
                <option>Toont locatie</option>
                <option>Toont persoon</option>
                <option>Verwant aan</option>
                <option>Vervaardigd in</option>
                <option>Vervaardigd door</option>
              </select>
            </div>
          </form>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" id="add-object-input" placeholder="Villa Peking">
              <small id="add-object-selected-id" class="text-muted"></small>
            </div>
          </form>
        </div>
        <div class="col-md-1">
          <button class="btn btn-primary" (click)="onAddLink()">+</button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <h3>Huidige connecties</h3>
          <p *ngIf="addedLinks.length == 0">
            <i>Nog geen connecties toegevoegd... Voeg hierboven een connectie toe.</i>
          </p>

          <ul>

            <li *ngFor="let addedLink of addedLinks"><b>{{addedLink.predicate}}: </b>
              <a target="_blank"href="{{addedLink.url}}">{{addedLink.object}}</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
