<div class="container">
<!--  <div class="row">-->
<!--    <div class="col-md-3">-->
<!--      <b>Wat is een connectie?</b>-->
<!--      <p>Deze functie kan gebruikt worden om verbanden tussen objecten en kenmerken aan te brengen.</p>-->
<!--    </div>-->
<!--    <div class="col-md-3">-->
<!--      <b>Wat is een connectie?</b>-->
<!--      <p>Deze functie kan gebruikt worden om verbanden tussen objecten en kenmerken aan te brengen.</p>-->
<!--    </div>-->
<!--    <div class="col-md-3">-->
<!--      <b>Wat is een connectie?</b>-->
<!--      <p>Deze functie kan gebruikt worden om verbanden tussen objecten en kenmerken aan te brengen.</p>-->
<!--    </div>-->
<!--  </div>-->
  <div class="row mt-3">
    <div class="col-md-3">
      <img src="{{imageUrl}}" alt="Sample Image" class="img-responsive sample-image"/>
      <div id="description" class="alert alert-secondary" role="alert">
        <i>Beschrijving aan het laden...</i>
      </div>
      <span>Term(en): </span>
      <a id="tag" href="javascript:void(0);" data-toggle="tooltip" data-html="true" title=""> Loading tag...</a>
    </div>
    <div class="col-md-9">
      <h2>Leg een connectie aan</h2>
      <p>
        Leg hieronder een connectie aan, om dit object te koppelen aan een nieuw kenmerk.
      </p>
      <p>
        Connecties worden gemaakt via het
        <a href="https://www.netwerkdigitaalerfgoed.nl/kennis-en-voorzieningen/digitaal-erfgoed-bruikbaar/termennetwerk/">Termennetwerk</a>
        , waardoor <i>meerdere terminologiebronnen</i> doorzocht kunnen worden.
      </p>
      <div class="row">
        <div class="col-md-5">
          <form>
            <div class="form-group">
              <select class="form-control" id="predicate-select">
                <option>Toont locatie</option>
                <option>Toont persoon</option>
                <option>Verwant aan</option>
                <option>Vervaardigd in</option>
                <option>Vervaardigd door</option>
              </select>
            </div>
          </form>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" id="add-object-input" placeholder="Villa Peking">
              <small id="add-object-selected-id" class="text-muted"></small>
            </div>
          </form>
        </div>
        <div class="col-md-1">
          <button class="btn btn-primary" (click)="onAddLink()">+</button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <h3>Huidige connecties</h3>
          <p *ngIf="addedLinks.length == 0">
            <i>Nog geen connecties toegevoegd... Voeg hierboven een connectie toe.</i>
          </p>

          <div class="row" *ngFor="let addedLink of addedLinks; index as i">
            <div class="col-md-11">
              <b>{{addedLink.predicate}}: </b>
              <a target="_blank" href="{{addedLink.url}}">{{addedLink.object}}</a>
              <p *ngIf="addedLink.description"><i>Beschrijving (wikidata): </i> {{addedLink.description}}</p>

              <!-- Map -->
              <iframe *ngIf="addedLink.coordinates" width="200" height="200"
                      frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                      [src]="getOpenStreetMapsSrc(i)">
              </iframe><br/>

              <!-- Image -->
              <a target="_blank" *ngFor="let image of addedLink.images" [href]="image">
                <img class="wikidata-image mr-2"  [src]="image"/>
              </a>
              <hr>
            </div>

            <div class="col-md-1">
              <button type="button"
                      class="btn btn-sm btn-link remove-button"
                      (click)="onRemoveLink(i)">
                ✕
              </button>
            </div>
            <hr/>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
