/* Background pattern from Toptal Subtle Patterns */


* {
  font-family: Verdana, sans-serif;
}

.sample-image { max-width: 100%; }
.wikidata-image { max-width: 150px; }
.remove-button { color: red; }
